#Todos ul {
    list-style: none;
}

#Todos li {
    display: grid;
    grid-template-columns: auto 70px;
    padding: 6px 0;
}

#Todos .delete {
    color: #972929;
    cursor: pointer;
}

#Todos .delete:hover {
    color: #c53232;
}

#Todos a {
    text-decoration: none;
    color: #28288f;
}

#Todos .icons a:hover {
    color: #4242da;
}

#Todos .todos {
    cursor: pointer;
}

#Todos .todos a:hover {
    color: #221E0E;
}


#Todos .header a {
    margin: 5px auto;
    text-transform: uppercase;
    font-size: .7rem;
    border: 1px solid #4242da;
    padding: 5px 10px;
    border-radius: 3px;
}

#Todos .header a:hover {
    color: #fff;
    background: #4242da;
    box-shadow: -1px 0px 5px -2px #000;
}


@media (min-width: 800px) {
    #Todos .header {
        display: grid;
        grid-template-columns: auto 150px;
    }
}
